<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head><title>대시보드</title></head>
<body>
<section layout:fragment="content" th:with="active='dashboard'">
  <h4 class="mb-3">대시보드</h4>
  <div class="row g-3">
    <div class="col-md-4"><div class="card"><div class="card-body">카드1</div></div></div>
    <div class="col-md-4"><div class="card"><div class="card-body">카드2</div></div></div>
    <div class="col-md-4"><div class="card"><div class="card-body">카드3</div></div></div>
  </div>
</section>

<th:block layout:fragment="page-scripts">
  <script>/* 페이지 전용 스크립트 */</script>
</th:block>
</body>
</html>
