<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: commonHead(~{::title})">
  <title>로그인</title>
</head>
<body class="bg-body-tertiary min-vh-100 d-flex flex-row align-items-center">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card-group d-block d-md-flex row">
        
        <!-- 로그인 폼 -->
        <div class="card col-md-7 p-4 mb-0">
          <div class="card-body">
            <h1>로그인</h1>
            <p class="text-body-secondary">업무를 위해 로그인 해주세요</p>
            <form th:action="@{/login}" method="post">
              <div class="input-group mb-3">
                <span class="input-group-text">
                  <svg class="icon">
                    <use th:href="@{/vendors/@coreui/icons/svg/free.svg#cil-user}"></use>
                  </svg>
                </span>
                <input class="form-control" type="text" name="username" placeholder="아이디" required>
              </div>
              <div class="input-group mb-4">
                <span class="input-group-text">
                  <svg class="icon">
                    <use th:href="@{/vendors/@coreui/icons/svg/free.svg#cil-lock-locked}"></use>
                  </svg>
                </span>
                <input class="form-control" type="password" name="password" placeholder="비밀번호" required>
              </div>
              <div class="row">
                <div class="col-6">
                  <!-- ★ type=submit 로 수정 -->
                  <button class="btn btn-primary px-4" type="submit">Log in</button>
                </div>
                <div class="col-6 text-end">
                  <button class="btn btn-link px-0" type="button">비밀번호 찾기</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        
        <!-- 로고 영역 -->
        <div class="card col-md-5 text-white bg-primary py-5">
          <div class="card-body text-center">
            <div>
              <img th:src="@{/assets/img/dream-logo.png}" alt="회사 로고"
                   style="max-width: 200px; height: auto;">
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>

<!-- JS 리소스도 절대경로/Thymeleaf 사용 -->
<script th:src="@{/vendors/@coreui/coreui/js/coreui.bundle.min.js}"></script>
<script th:src="@{/vendors/simplebar/js/simplebar.min.js}"></script>
</body>
</html>
