<head th:fragment="commonHead(title)">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <title th:text="${title} ?: 'The Dream'"></title>

 <link rel="stylesheet" th:href="@{/css/style.min.css}">
<link rel="stylesheet" th:href="@{/vendors/simplebar/css/simplebar.css}">
<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css">


<link rel="stylesheet" th:href="@{/css/app.css}">

<link rel="icon" th:href="@{/assets/favicon/favi.ico}">
</head>
