<th:block th:fragment="commonJs">
  <!-- CoreUI bundle -->
  <script th:src="@{/vendors/@coreui/coreui/js/coreui.bundle.min.js}"></script>
  <!-- simplebar -->
  <script th:src="@{/vendors/simplebar/js/simplebar.min.js}"></script>

  <!-- Toast UI Editor (CDN) -->
  <script th:src="@{https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js}" defer></script>
  <script th:src="@{https://uicdn.toast.com/editor/latest/i18n/ko-kr.js}"></script>

 <script th:src="@{/js/app.js}" defer></script>
 
</th:block>
